body {
    width: 80vw;
    height: 85vh;
    margin: 20px auto;
    font-family: "Alegreya Sans SC", sans-serif;
    background: radial-gradient(circle, #808080, #40e0d0, #008080);
}

header {
  margin-top: 0;
  text-align: center;
  font-size: 3em;
  color: #281111;
  font-weight: bolder;

}
nav {
  float: right;
  text-align: center;
  font-size: 3em;
  color: #281111;
  font-weight: bolder;
}

#newGame {
  border: 5px solid #fff5ee;
  border-radius: 25px;
  background-color: #20b2aa;
  width: auto;
  height: 50px;
  color: #281111;
  font-weight: bolder;
  text-decoration: none;
  cursor: pointer;
  box-shadow: -3px -5px 5px 1px rgba(230, 230, 230, 0.5) inset;
}

button::-moz-focus-inner {
  border: 0;
}

main {
  margin: auto;
  display: flex; /* needed to align the gird to the center of the page*/
  align-content: center;
}

/* Modal message*/
#modal {
  box-sizing: border-box;
  width: 200px;
  height: 150px;
  position: absolute;
  top: 40%;
  left: 40%;
  text-align: center;
  font-size: 2.5em;
  color: #281111;
  font-weight: bolder;
  border: 5px solid #20b2aa;
  border-radius: 25px;
  background-color: #8fbc8F;
  display: none;
  z-index: 1;
}

.show {
  transform: rotateY( 0deg);
  transition: 0s linear 0s;/*there must be an unit after the 0 here*/
  backface-visibility: hidden;
}

.hide {
  transform: rotateY( -180deg);
  transition: 0s linear 0s;/*there must be an unit after the 0 here*/
  backface-visibility: hidden;
}

/*CardFront*/
.front {
    box-sizing: border-box;
    border: 5px solid #20b2aa;
    border-radius: 25px;
    background-color: #8fbc8F;
    text-align: center;
    vertical-align: middle;
    font-size: 1.5em;
    margin: 0;
    padding: 0.7em 0 0 0;
    color: #281111;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
    transition: 0s linear 0s;/*there must be an unit after the 0 here*/
    backface-visibility: hidden;/* z-index greater numbers come on top*/
}

/*CardBack*/
.back {
   box-sizing: border-box;
   border: 5px solid #fff5ee;
   border-radius: 25px;
   background-color: #20b2aa;
   text-align: center;
   width: 150px;
   height: 150px;
   position: absolute;
   top: 0;
   left: 0;
   transform: rotateY(0deg);/*there must be an unit after the 0 here*/
   transition: 0s linear 0s; /*there must be an unit after the 0 here*/
   backface-visibility: hidden;
   cursor: pointer;
}

.back:hover {
  border: 5px solid #008080;
  background-color: #fff5ee;
}

/*Grid*/
.game {
    font-size: 2.5em;
    display: grid;
    margin: auto;
    grid-gap: 5px;
    grid-template-columns: repeat( 4, 150px);
    grid-template-rows: repeat( 4, 150px);
    grid-template-areas: "one two three four"
                         "five six seven eight"
                         "nine ten eleven twelve"
                         "thirteen fourteen fifteen sixteen";
}
/*Grid elements*/
#one {
    position: relative;
    margin: 0;
    position: relative;
}

#two {
    grid-area: two;
    margin:0;
    position: relative;
}

#three {
    grid-area: three;
    margin:0;
    position: relative;
}

#four {
    grid-area: four;
    margin:0;
    position: relative;
}

#five {
    grid-area: five;
    margin:0;
    position: relative;
}

#six {
    grid-area: six;
    margin:0;
    position: relative;
}

#seven {
    grid-area: seven;
    margin:0;
    position: relative;
}

#eight {
    grid-area: eight;
    margin:0;
    position: relative;
}

#nine {
    grid-area: nine;
    margin:0;
    position: relative;
}

#ten {
    grid-area: ten;
    margin:0;
    position: relative;
}

#eleven {
    grid-area: eleven;
    margin:0;
    position: relative;
}

#twelve {
    grid-area: twelve;
    margin:0;
    position: relative;
}

#thirteen {
    grid-area: thirteen;
    margin:0;
    position: relative;
}

#fourteen {
    grid-area: fourteen;
    margin:0;
    position: relative;
}

#fifteen {
    grid-area: fifteen;
    margin:0;
    position: relative;
}

#sixteen {
    grid-area: sixteen;
    margin:0;
    position: relative;
}
