body {
    width: 80vw;
    height: 85vh;
    margin: 20px auto;
    font-family: "Alegreya Sans SC", sans-serif;
    background: radial-gradient(circle, grey, pink, purple);
}

header {
  margin-top: 0;
  text-align: center;
  font-size: 3em;
  font-weight: bolder;
}

main {
  margin: auto;
  display: flex; /* needed to align the gird to the center of the page*/
  align-content: center;
}

/*Grid*/
.game {
    font-size: 2.5em;
    display: grid;
    margin: auto;
    grid-gap: 5px;
    grid-template-columns: repeat( 4, 150px);
    grid-template-rows: repeat( 4, 150px);
    grid-template-areas: "one two three four"
                         "five six seven eight"
                         "nine ten eleven twelve"
                         "thirteen fourteen fifteen sixteen";
}
/*Grid elements*/
#one {
    position: relative;
    border: 2px solid #000;
    margin: 0;
}

#two {
    grid-area: two;
    border: 2px solid #000;
    margin:0;
}

#three {
    grid-area: three;
    border: 2px solid #000;
    margin:0;
}

#four {
    grid-area: four;
    border: 2px solid #000;
    margin:0;
}

#five {
    grid-area: five;
    border: 2px solid #000;
    margin:0;
}

#six {
    grid-area: six;
    border: 2px solid #000;
    margin:0;
}

#seven {
    grid-area: seven;
    border: 2px solid #000;
    margin:0;
}

#eight {
    grid-area: eight;
    border: 2px solid #000;
    margin:0;
}

#nine {
    grid-area: nine;
    border: 2px solid #000;
    margin:0;
}

#ten {
    grid-area: ten;
    border: 2px solid #000;
    margin:0;
}

#eleven {
    grid-area: eleven;
    border: 2px solid #000;
    margin:0;
}

#twelve {
    grid-area: twelve;
    border: 2px solid #000;
    margin:0;
}

#thirteen {
    grid-area: thirteen;
    border: 2px solid #000;
    margin:0;
}

#fourteen {
    grid-area: fourteen;
    border: 2px solid #000;
    margin:0;
}

#fifteen {
    grid-area: fifteen;
    border: 2px solid #000;
    margin:0;
}

#sixteen {
    grid-area: sixteen;
    border: 2px solid #000;
    margin:0;
}
/*CardFront*/

.card1{
    margin: 0;
    padding: 0;
}

/*CardBack*/
.back {
   content: none;
   border: 5px solid #d0d;
   background-color: purple;
   color: purple;
   margin:0;
   z-index: 0;
}
